USE [master]
GO
/****** Object:  Database [Db2023Memes]    Script Date: 2/26/2023 6:31:58 PM ******/
CREATE DATABASE [Db2023Memes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Db2023Memes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL20219\MSSQL\DATA\Db2023Memes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Db2023Memes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL20219\MSSQL\DATA\Db2023Memes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Db2023Memes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Db2023Memes]
GO
/****** Object:  User [UserDb2023Memes]    Script Date: 2/26/2023 6:31:58 PM ******/
CREATE USER [UserDb2023Memes] FOR LOGIN [UserDb2023Memes] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [UserDb2023Memes]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/26/2023 6:31:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 2/26/2023 6:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Uri] [nvarchar](max) NOT NULL,
	[Img] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meme]    Script Date: 2/26/2023 6:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meme](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TopText] [nvarchar](max) NOT NULL,
	[BottomText] [nvarchar](max) NOT NULL,
	[Public] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
	[ImageId] [int] NOT NULL,
 CONSTRAINT [PK_Memes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemeTag]    Script Date: 2/26/2023 6:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemeTag](
	[MemeId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
 CONSTRAINT [PK_MemeTag] PRIMARY KEY CLUSTERED 
(
	[MemeId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 2/26/2023 6:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2/26/2023 6:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Login] [nvarchar](max) NOT NULL,
	[Points] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vote]    Script Date: 2/26/2023 6:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vote](
	[UserId] [int] NOT NULL,
	[MemeId] [int] NOT NULL,
 CONSTRAINT [PK_MemeUser] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[MemeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230219092128_Memes2023-10', N'7.0.3')
GO
/****** Object:  Index [IX_Memes_ImageId]    Script Date: 2/26/2023 6:31:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Memes_ImageId] ON [dbo].[Meme]
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Memes_UserId]    Script Date: 2/26/2023 6:31:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Memes_UserId] ON [dbo].[Meme]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MemeTag_TagsId]    Script Date: 2/26/2023 6:31:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_MemeTag_TagsId] ON [dbo].[MemeTag]
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MemeUser_VotesId]    Script Date: 2/26/2023 6:31:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_MemeUser_VotesId] ON [dbo].[Vote]
(
	[MemeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Meme]  WITH CHECK ADD  CONSTRAINT [FK_Memes_Images_ImageId] FOREIGN KEY([ImageId])
REFERENCES [dbo].[Image] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Meme] CHECK CONSTRAINT [FK_Memes_Images_ImageId]
GO
ALTER TABLE [dbo].[Meme]  WITH CHECK ADD  CONSTRAINT [FK_Memes_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Meme] CHECK CONSTRAINT [FK_Memes_Users_UserId]
GO
ALTER TABLE [dbo].[MemeTag]  WITH CHECK ADD  CONSTRAINT [FK_MemeTag_Memes_MemesId] FOREIGN KEY([MemeId])
REFERENCES [dbo].[Meme] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MemeTag] CHECK CONSTRAINT [FK_MemeTag_Memes_MemesId]
GO
ALTER TABLE [dbo].[MemeTag]  WITH CHECK ADD  CONSTRAINT [FK_MemeTag_Tags_TagsId] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tag] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MemeTag] CHECK CONSTRAINT [FK_MemeTag_Tags_TagsId]
GO
ALTER TABLE [dbo].[Vote]  WITH CHECK ADD  CONSTRAINT [FK_MemeUser_Memes_VotesId] FOREIGN KEY([MemeId])
REFERENCES [dbo].[Meme] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vote] CHECK CONSTRAINT [FK_MemeUser_Memes_VotesId]
GO
ALTER TABLE [dbo].[Vote]  WITH CHECK ADD  CONSTRAINT [FK_MemeUser_Users_UsersId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vote] CHECK CONSTRAINT [FK_MemeUser_Users_UsersId]
GO
USE [master]
GO
